html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#F3C6D1, #90CCDE);
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visible {
  border: 2px solid green;
}

.notvisible {
  border: 2px solid red;
}

.guessed {
  margin: 4px;
  background-color: lemonchiffon;
  border: 3px solid green;
}

.notguessed {
  margin: 4px;
  background-color: lemonchiffon;
  border: 3px solid red;
}

.frame {
  display: flex;
  justify-content: center;
  height: 65vh;
  margin: 0;
}

.wordContainer {
  border: 2px solid black;  
  width: 17.5vw;
  float:left;
  margin: 1vh 1vw;
  height: 30vh;
}

.word {
  text-align: center;
}

.wordHeader {
  text-align: center;
}

.playerGuess {
  margin: 0;
  /*border: 2px solid #3a3568;*/
}

.removeWord {
  display: flex;
  justify-content: center;
}

.timerDiv {
  text-align: center;
  width: fit-content;
  margin: auto;
  height: 10vh;
}

.timer {
  background-color:#A09BCC;
  border: 2px solid #3a3568;
  color:#9f0000;
  padding: 5px;
  font-size: 35px;
  font-family:'Orbitron';
}

.title {
  color: darkred;
  text-align: center;
  font-size: 75px;
  height: 10vh;
  margin: 0;
}

.wordMenu, .wordTable {
  width: 100%;
}

.score {
  bottom: 0;
  height: 10vh;
  width: 100%;
}

.playerScore {
  border: 2px solid #3a3568;
  float:left;
  height: 100%;
  margin: 0;
}

.playerName {
  text-align: center;
  margin: 8px;
  font-weight: 1000;
  font-size: 15px;
}

.pScore {
  text-align: center;
  font-weight: 1000;
  font-family:'Orbitron';
}